In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [9]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
423,tt1212436,35000000,77477008,The Back-Up Plan,Jennifer Lopez|Alex O'Loughlin|Danneel Ackles|...,Alan Poul,"Fall in love, get married, have a baby. Not ne...","When Zoe tires of looking for Mr. Right, she d...",106,Comedy|Romance,Escape Artists|CBS Films,4/23/2010,5.7,2010
1624,tt0358135,50000000,170128460,Shall We Dance?,Richard Gere|Jennifer Lopez|Susan Sarandon|Lis...,Peter Chelsom,Step out of the ordinary,"A romantic comedy where a bored, overworked Es...",107,Drama|Romance|Comedy,Miramax Films,10/15/2004,5.8,2004
1247,tt2024432,35000000,173965010,Identity Thief,Jason Bateman|Melissa McCarthy|Jon Favreau|Ama...,Seth Gordon,She's having the time of his life,When a mild-mannered businessman learns his id...,111,Comedy|Crime,Stuber Productions|Aggregate Films|DumbDumb,2/7/2013,5.6,2013
1645,tt0324554,30000000,13001257,Wicker Park,Josh Hartnett|Rose Byrne|Matthew Lillard|Diane...,Paul McGuigan,Passion never dies.,"Matthew, a young advertising executive in Chic...",114,Drama|Mystery|Romance|Thriller,Lakeshore Entertainment|Metro-Goldwyn-Mayer (M...,9/3/2004,6.6,2004
744,tt1411238,25000000,147780440,No Strings Attached,Natalie Portman|Ashton Kutcher|Greta Gerwig|Ke...,Ivan Reitman,Friendship has its benefits.,Emma is a busy doctor who sets up a seemingly ...,108,Comedy|Romance,Paramount Pictures|Spyglass Entertainment|Kata...,1/12/2011,6.1,2011

In [10]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [11]:
answers = {}                                      # создаём словарь для ответов

data['profit'] = data['revenue'] - data['budget'] #создаем новый столбец 
                                                  #показывающий прибыль
data2 = data.copy()


def genre_max(genre):
    """объединяет жанры в единый список, превращает его в Series,
    сортирует по частоте встречаемости, возвращает первый
    элемент из отсортированного Series"""
    genres = []
    for i in genre:
        x = i.split('|')
        for y in x:
            genres.append(y)
    f = pd.Series(genres)
    s = f.value_counts()
    return s.index[0]

    
def list_cast(lst):
    '''создает список пар актеров,
    игравших в одном фильме'''
    lst = lst.split('|')
    abc = []
    for name_one in lst:
        for name_two in lst:
            if name_one == name_two:
                continue
            abc += [[name_one, name_two]]
    return abc

# 1. У какого фильма из списка самый большой бюджет?

In [17]:
answers['1'] = "Pirates of the Caribbean:On Stranger Tides (tt1298650)"

In [18]:
(data[data.budget == data.budget.max()]
[['imdb_id', 'original_title']])

       imdb_id                               original_title
723  tt1298650  Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [19]:
(data.groupby(['original_title', 'imdb_id'])
['budget'].max().sort_values(ascending=False).index[0])

('Pirates of the Caribbean: On Stranger Tides', 'tt1298650')

# 2. Какой из фильмов самый длительный (в минутах)?

In [20]:
answers['2'] = 'Gods and Generals (tt0279111)'

In [21]:
(data[data.runtime == data.runtime.max()]
[['original_title', 'imdb_id']])

         original_title    imdb_id
1157  Gods and Generals  tt0279111

ВАРИАНТ 2

In [22]:
(data.query('runtime == runtime.max()')
 [['original_title', 'imdb_id']])

         original_title    imdb_id
1157  Gods and Generals  tt0279111

ВАРИАНТ 3

In [23]:
(data.groupby(['original_title','imdb_id'])
 ['runtime'].max().sort_values(ascending=False).index[0])

('Gods and Generals', 'tt0279111')

# 3. Какой из фильмов самый короткий (в минутах)?

In [24]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [25]:
(data[data.runtime == data.runtime.min()]
 [['original_title', 'imdb_id']])

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

ВАРИАНТ 2

In [26]:
(data.query('runtime == runtime.min()')
 [['original_title', 'imdb_id']])

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

ВАРИАНТ 3

In [27]:
(data.groupby(['original_title', 'imdb_id'])
['runtime'].max().sort_values().index[0])

('Winnie the Pooh', 'tt1449283')

# 4. Какова средняя длительность фильмов?

In [28]:
answers['4'] = 109.6585494970884

In [29]:
data.runtime.mean()

109.6585494970884

ВАРИАНТ 2

In [30]:
data.describe()['runtime']['mean']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [31]:
answers['5'] = 107.0

In [32]:
data.runtime.median()

107.0

ВАРИАНТ 2

In [33]:
data.describe()['runtime']['50%']

107.0

# 6. Какой самый прибыльный фильм?

In [34]:
answers['6'] = 'Avatar (tt0499549)'

In [35]:
(data.query('profit == profit.max()')
 [['original_title', 'imdb_id']])

    original_title    imdb_id
239         Avatar  tt0499549

ВАРИАНТ 2

In [36]:
(data[data.profit == data.profit.max()]
 [['original_title', 'imdb_id']])

    original_title    imdb_id
239         Avatar  tt0499549

ВАРИАНТ 3

In [37]:
(data.groupby(['original_title', 'imdb_id'])
['profit'].max().sort_values(ascending=False).index[0])

('Avatar', 'tt0499549')

# 7. Какой фильм самый убыточный?

In [38]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [39]:
(data.query('profit == profit.min()')
 [['original_title', 'imdb_id']])

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

ВАРИАНТ 2

In [40]:
(data[data.profit == data.profit.min()]
 [['original_title', 'imdb_id']])

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

ВАРИАНТ 3

In [41]:
(data.groupby(['original_title', 'imdb_id'])
 ['profit'].max().sort_values().index[0])

('The Lone Ranger', 'tt1210819')

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [42]:
answers['8'] = '1478'

In [43]:
len(data[data['revenue'] > data['budget']])

1478

ВАРИАНТ 2

In [44]:
(data.query('revenue > budget')
 ['original_title'].count())

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [45]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [46]:
data_2008 = data[data['release_year']== 2008]
(data_2008.groupby(['original_title', 'imdb_id'])
 ['revenue'].max().sort_values(ascending=False).index[0])

('The Dark Knight', 'tt0468569')

ВАРИАНТ 2

In [47]:
data_2008 = data[(data['release_year'] == 2008)]
(data_2008.query('revenue == revenue.max()')
 [['original_title', 'imdb_id']])

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [48]:
answers['10'] = 'The Lone Ranger (tt1210819)'

movie_bad = (data[(2012 <= data['release_year']) 
                  & (data['release_year'] <= 2014)])
(movie_bad.groupby(['original_title', 'imdb_id'])
 ['profit'].max().sort_values().index[0])

('The Lone Ranger', 'tt1210819')

In [49]:
movie_bad = data.query('2012 <= release_year <= 2014')
(movie_bad.query('profit == profit.min()')
 [['original_title', 'imdb_id']])

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [50]:
answers['11'] = 'Drama'

In [51]:
genre_first = data.copy()
genre_first['genres'] = genre_first['genres'].str.split('|')
genre_first = genre_first.explode('genres')
genre_first['genres'].value_counts().index[0]

'Drama'

ВАРИАНТ 2

In [52]:
genre_max(data['genres'])

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [53]:
answers['12'] = 'Drama'

In [54]:
genres_profit = data[data['profit'] > 0]
genre_max(genres_profit['genres'])

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [55]:
answers['13'] = 'Peter Jackson'

In [56]:
(data.groupby(['director'])
 ['revenue'].sum().sort_values(ascending=False).index[0])

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [57]:
answers['14'] = 'Robert Rodriguez'

In [58]:
data2_action = data.copy()
data2_action['director'] = data2_action['director'].str.split('|')
data2_action = data2_action[data.genres.str.contains('Action')]
data2_action = data2_action.explode('director')
data2_action.director.value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [59]:
answers['15'] = 'Chris Hemsworth'

In [60]:
data2012 = data[data['release_year'] == 2012]
(data2012.groupby(['cast'])
 ['revenue'].max().sort_values(ascending=False).head().index[0])

'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'

## 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [61]:
answers['16'] = 'Matt Damon'

In [62]:
data2['cast'] = data.cast.str.split('|').copy()
top_budget = data2[data2.budget > data2.budget.mean()]
top_budget = top_budget.explode('cast')
top_budget['cast'].value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [63]:
answers['17'] = 'Action'

In [64]:
data_cage = data[data['cast'].str.contains("Nicolas Cage")] 
data_cage['genres'] = data_cage['genres'].str.split('|')
data_cage = data_cage.explode('genres')
data_cage['genres'].value_counts().index[0]

<ipython-input-64-05d06763c885>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cage['genres'] = data_cage['genres'].str.split('|')

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [65]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [66]:
data_paramount = (data[data['production_companies']
                       .str.contains("Paramount Pictures")])
(data_paramount.query('profit == profit.min()')
 [['original_title', 'imdb_id']])

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [67]:
answers['19'] = '2015'

In [68]:
(data.groupby(['release_year'])
 ['revenue'].sum().sort_values(ascending=False).index[0])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [69]:
answers['20'] = '2014'

In [70]:
data_warner = data[data['production_companies'].str.contains('Warner Bros')]
(data_warner.groupby(['release_year'])
 ['profit'].sum().sort_values(ascending=False).index[0])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [71]:
answers['21'] = 'Сентябрь'

In [72]:
data2.release_date =  pd.to_datetime(data2['release_date'])
data2.release_date = data2.release_date.dt.month
data2.release_date.value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [73]:
answers['22'] = '450'

In [74]:
data2_summer = data2.query('5 < release_date < 9')
len(data2_summer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [75]:
answers['23'] = 'Peter Jackson'


data_season = (data2[(data2['release_date'] < 3)
                     | (data2['release_date'] == 12)])
data_season.director.str.split('|')
data_season = data_season.explode('director')
data_season.director.value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [76]:
answers['24'] = 'Four By Two Productions'

In [77]:
data2.original_title = data2.original_title.apply(lambda x: len(x))
data2.orinal_title = data2.original_title.apply(lambda x: int(x))
data2['production_companies'] = data2['production_companies'].str.split('|')
data2 = data2.explode('production_companies')
(data2.groupby(['production_companies'])
 ['original_title'].mean().sort_values(ascending=False).index[0])

<ipython-input-77-acb06760ac9d>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data2.orinal_title = data2.original_title.apply(lambda x: int(x))

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [78]:
answers['25'] = 'Midnight Picture Show'

In [79]:
data2.overview = data2.overview.str.split(' ')
data2.overview = data2.overview.apply(lambda x: len(x))
(data2.groupby(['production_companies'])
 ['overview'].mean().sort_values(ascending=False).index[0])

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [80]:
answers['26'] = 'The Dark Knight, Inside Out, 12 Years a Slave'

In [81]:
vote_percentile = np.percentile(data.vote_average, 99)
data[data.vote_average > vote_percentile]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [82]:
answers['27'] = 'Daniel Radcliffe and Rupert Grint'

In [11]:
best_actors = data['cast'].copy()         # создаем копию столбца
best_actors = best_actors.apply(list_cast)#прогоняем каждый
                                          #элемент через функцию
best_actors = best_actors.explode()
print(best_actors.value_counts().head(8))#смотрим первые 8 элементов
                                         #по частоте встречаемости

[Emma Watson, Rupert Grint]            8
[Daniel Radcliffe, Rupert Grint]       8
[Daniel Radcliffe, Emma Watson]        8
[Emma Watson, Daniel Radcliffe]        8
[Rupert Grint, Emma Watson]            8
[Rupert Grint, Daniel Radcliffe]       8
[Owen Wilson, Ben Stiller]             6
[Helena Bonham Carter, Johnny Depp]    6
Name: cast, dtype: int64

# Submission

In [83]:
answers

{'1': 'Pirates of the Caribbean:On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight, Inside Out, 12 Years a Slave',
 '27': 'Daniel Radcliffe and Rupert Grint'}

In [84]:
len(answers)

27